#cart {
    width: 150px;
    height: 150px;
    margin-left: 50px;
    float: left;
}

.carttable {
	empty-cells: show;
}

#cartInfo {
    margin-left: 400px;
}

#placeOrder {
    width: 100px;
    height: 50px;
    margin-left: 200px;
}
div.main {
    background-color: #0da2e2;
    color: #EEE;
    font-size: 0.9em;
    width: 70%;
    box-shadow: 5px 5px 10px #CCC;
    margin: auto;
}
h2{
	text-align:center;
}

button.admin{
	width:50%;
}

div.admin {
    background-color: #333;
    color: #EEE;
    font-size: 0.9em;
    width: 100%;
    box-shadow: 5px 5px 10px #CCC;
    margin: auto;
}

span.menu_icon {
	color: blue;
    font-size:18px;
    cursor:pointer;
    float:left
}

div.sidenav {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #0da2e2;
}

ul.menuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    text-align:center;
}

table {
    background-color:white;
    width:100%
}

table.loginPageOptions {
	color: blue;
    width:70%;
}

table.admin{
	width:70%
}

table.registration {
    width:50%;
    text-align:absolute;
    padding:5px;
}
select {
	width: 300px;
}
td.registrationForm {
    padding:5px;
}
td.registrationInput {
    padding:5px;
    text-align:right;
    width: 70%;
}

td.registrationInput input {
    border: solid 1px #CCC;
}

td.search {
	color: blue;
    width:75%;
}

input {
    width: 70%;
    border: none;
    height:18px;
    border: solid 1px #CCC;
}

input.submitRegistration {
	color: blue;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 20%;
}

input.forgotPassword{
	color: blue;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
}

select {
    border: solid 1px #CCC;
    width: 15%;
    height:18px;
}

img {
    width: 100%;
    object-fit: contain;
}

.mySlides {
    display: none;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

li {
    color: #dcdcdc;
}

li a {
    display: block;
    color: #dcdcdc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

a.adminMenu {
	text-decoration: none;
	color: #333;
    text-align: center;
}

a.adminSelected {
	background-color: #333;
	color: #EEE;
}

a.adminMenu:hover {
    background-color: #EEE;
}

.HomeReview-text{
	margin:1rem auto;
	max-width:750px;
	font-weight:300;
	font-size:1.5rem;
	line-height:1.4
}
.HomeReview-stats{
	text-align: center;
	font-size:.875rem;
	margin:1rem auto;
	max-width:750px;
	font-weight:300;
	line-height:1.4
}
.HomeReview-author{
	text-align: center;
	margin:1rem auto;
	max-width:750px;
	font-weight:300;
	font-size:1.5rem;
	line-height:1.4;
}
.stars{
   position: relative;
   display: block;
   margin: 0 auto;
   width: 200px; 
   height: 100x;
	
}
.FooterStats-stat{
	position:relative;
	display:inline-block;
	margin:2rem 0;
	padding-left:6.5rem;
	width:17%;
}

@media screen and (max-width:900px)
{
.FooterStats-stat{
	width:50%;
	text-align:center
	}
}

@media screen and (max-width:600px)
{
.FooterStats-stat{
	display:none
}
}
.FooterStats-content h3{
margin:0;
color:#705b43;
font-weight:700;
font-size:2.5rem;
line-height:1;
}
.FooterStats-content p{
	margin:0
}
.books{
	width: 80px;
	height: 80px;
}
.icons {
	position: absolute;
	width:70px;
	height:70px;
	margin-left: -80px;
	
}
.FooterStatsContent{
	margin-left:300px;
	position: relative;
}




figure.searchbook.images{
	width: 90px;
	height: 90px;
}

figure.searchbook {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #000000;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.searchbook * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.searchbook img {
  max-width: 100%;
  vertical-align: top;
}
figure.searchbook figcaption {
  position: relative;
  background-color: #ffffff;
  padding: 20px 25px 50px;
}
figure.searchbook h3 {
  position: absolute;
  bottom: 100%;
  text-transform: uppercase;
  padding: 0px 25px;
  line-height: 44px;
  margin: 0;
  left: 0;
  font-weight: 400;
  background-color: #000000;
  color: #ffffff;
}
figure.searchbook h3 span {
  font-weight: 800;
}
figure.searchbook h3:before {
  position: absolute;
  left: 100%;
  border-style: solid;
  border-width: 44px 0 0 12px;
  border-color: transparent transparent transparent #000000;
  content: '';
  top: 0;
}
figure.searchbook p {
  font-size: 0.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
}
figure.searchbook .price {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  background-color: #000000;
  padding: 0 10px;
  line-height: 40px;
  font-weight: 800;
}
figure.searchbook .price:before {
  position: absolute;
  right: 100%;
  border-style: solid;
  border-width: 0 12px 40px 0;
  border-color: transparent #000000 transparent;
  content: '';
  top: 0;
}
figure.searchbook a {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000000;
  line-height: 40px;
  padding: 0 10px;
  color: #ffffff;
  font-weight: 800;
  font-size: 0.9em;
  text-transform: uppercase;
}
figure.searchbook a:before {
  position: absolute;
  right: 100%;
  border-style: solid;
  border-width: 0 0 40px 12px;
  border-color: transparent transparent #000000;
  content: '';
  top: 0;
}
figure.searchbook.blue {
  background-color: #2472a4;
}
figure.searchbook.blue h3,
figure.searchbook.blue a,
figure.searchbook.blue .price {
  background-color: #2472a4;
}
figure.searchbook.blue .price:before {
  border-color: transparent #2472a4 transparent;
}
figure.searchbook.blue h3:before {
  border-color: transparent transparent transparent #2472a4;
}
figure.searchbook.blue a:before {
  border-color: transparent transparent #2472a4;
}
figure.searchbook.red {
  background-color: #ab3326;
}
figure.searchbook.red h3,
figure.searchbook.red a,
figure.searchbook.red .price {
  background-color: #ab3326;
}
figure.searchbook.red .price:before {
  border-color: transparent #ab3326 transparent;
}
figure.searchbook.red h3:before {
  border-color: transparent transparent transparent #ab3326;
}
figure.searchbook.red a:before {
  border-color: transparent transparent #ab3326;
}
figure.searchbook.orange {
  background-color: #d67118;
}
figure.searchbook.orange h3,
figure.searchbook.orange a,
figure.searchbook.orange .price {
  background-color: #d67118;
}
figure.searchbook.orange .price:before {
  border-color: transparent #d67118 transparent;
}
figure.searchbook.orange h3:before {
  border-color: transparent transparent transparent #d67118;
}
figure.searchbook.orange a:before {
  border-color: transparent transparent #d67118;
}
figure.searchbook:hover img,
figure.searchbook.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
